
body {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-image: url(../images/bg.png);
    background-attachment: fixed;
    background-position: top;
    background-repeat: repeat;
    color: #B0B0B0 ;

}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    text-transform: uppercase;
}
footer ul li{
    display: inline;
    margin-right: 20px;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #f2e419;
}
nav ul li > a:hover {
    -moz-transition: color  1s ease, background 0.5s ease;
    -ms-transition: color  1s ease, background 0.5s ease;
    -o-transition: color  1s ease, background 0.5s ease;
    -webkit-transition: color  1s ease, background 0.5s ease;
    display: inline-block;
    margin: auto;
    color: black;
    transition: color, 1s ease, background 0,5s ease;
    border: 0px solid #000000;
    display: inline-block;
    background: #f2e419;   
    margin: auto;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';

}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #f6f6f6;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}